.warning {
    background-color: #ff7a7a;
}

header {
    a {
        color: white;
    }
    
    a:hover {
        color: #ededed;
    }
    
}

main {
    a {
        color: black;
    }
}

form {
    margin-top: 15px;
}