body {
    height: 100hv;
    margin: 0;
    padding: 0;
    background-color: #F0F0F0;
    font-family: 'Sawarabi Gothic', sans-serif;
}

header {
    background-color: #BC6B6B;
    min-height: 5.5%;

    .header-content {
        display: flex;
        justify-content: center;
        padding: 15px;

        h4 {
            margin: 0;
            color: #F0F0F0;
            font-style: bold;
            font-size: 105%;
        }
    }
}